* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

html {
    /* 50% żeby wygodnie używać rem zamiast pixeli */
    /* Domyślnie jest 16px rozmiar w przeglądarce za dużo */
    font-size: 50%;
}

body {
    /* Jeden z warunków: responsywność, unikać stałych rozmiarów "px" */
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    /* Pozycja headera i tak żeby się przykleił do góry podczas scrollowania */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Padding góra dół na 1rem i lewo prawo na 9% szerokości */
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Header ma z-index 100 żeby był zawsze nad wszystkim, generalnie jakby coś innego miało np większy z-index niż header gdzie dalibyśmy np 1 to wtedy to drugie coś ma większy priorytet. */
    z-index: 100;
    background-color: transparent;
}

.logo {
    font-size: 3rem;
    color: red;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    color: white;
    font-size: 1.8rem;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active {
    color:red;
    border-bottom: 3px solid red;
}

.home-image img{
    position: relative;
    width: 150vw;
    /* Filtry na obrazek, co i jak co robi znalazłem na slacku, a nie chce mi się edytować obrazka w GIMPie */
    filter: brightness(50%) blur(3px) grayscale(100%);

}

